@import '@picocss/pico';

#progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
  width: 0;
  transition: width 300ms ease-out;
  background-color: red;
}

body {
  padding: 2rem;
}

*:focus {
  /* Add a thick outline do make focus-related debugging easier. */
  outline: 3px solid red;
}
