@import '@picocss/pico';

#progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
  width: var(--simple-progress);
  transition: width 300ms ease-out;
  background-color: red;

  :root:not([data-simple-progress]) & {
    display: none;
  }
}

body {
  padding: 2rem;
}

*:focus {
  /* Add a thick outline do make focus-related debugging easier. */
  outline: 3px solid red;
}
