<!DOCTYPE html>
<html lang="en" data-head-script-count="0" data-body-script-count="0">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="template" content="home" />
    <title>Very Simple Ajax</title>
    <script src="/example/index.ts" type="module" defer></script>
    <link rel="stylesheet" href="/example/index.css" />
  </head>
  <body>
    <div id="progress"></div>

    <nav>
      <ul>
        <li>
          <a data-simple-component="link" href="/example/components/index.html">
            Component
          </a>
        </li>
      </ul>
    </nav>

    <h1 id="heading">No Component</h1>
    <div id="div">
      Not A Component
      <button>This does nothing</button>
    </div>
  </body>
</html>
