<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="simple-container" content="#partial" />
    <title>Very Simple Links Partial</title>
    <script src="./index.ts" type="module"></script>
  </head>
  <body>
    <h1>Partial</h1>
    <ul>
      <li><a href="/examples/partial/index.html">Home</a></li>
      <li><a href="/examples/partial/partial.html">Load partial</a></li>
    </ul>
    <div id="partial">
      <img
        id="partial-image"
        data-simple-permanent
        src="https://media.giphy.com/media/DwsOh9IbCquaCnwJJw/giphy-downsized-large.gif"
      />
      <p>Some additional text ...</p>
    </div>
  </body>
</html>
